/*
Set up and base styles and root level intrinsic typography.
This allows scaling to very small sizes.
https://docs.typetura.com/
*/

:root {
  --tt-key: root;
  --tt-ease: cubic-bezier(0, 0, 0.4, 1);
  --tt-max: 400;

  --max-width: 45rem;

  --font-headline: "Roslindale", serif;
  --font-text: "Sole Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-small: "Roslindale", serif;

  --color: #3498db;

  color: hsl(0, 0%, 15%);

  font-size: 100%;
  line-height: 1.5;
  font-family: var(--font-text);
  font-stretch: 100%;
  font-weight: 350;
  font-optical-sizing: auto;
}

@keyframes root {
  0% {
    /* Yes, the font size is 0, but so is the viewport width.
       This scales to a value over 16px rapidly. */
    font-size: 0%;
    /* Unitless line height can be used with this method. */
    line-height: 1.15;
    /* Variable fonts can also be adjusted with this method.
       This gives you way more control over your typography. */
    font-weight: 400;
    font-stretch: 115%;
  }

  100% {
    /* Here we have a value equivilent to 18px at a default base of 16px.
       Note that user base font sizes can be inherited here,
       this improves accessibility over viewport unit based font scaling. */
    font-size: 112.5%;
    line-height: 1.45;
    font-weight: 350;
    font-stretch: 105%;
  }
}


/* Other typographic styles */

.primary-headline {
  --tt-key: primary-headline;
  --tt-ease: cubic-bezier(0.65, 0, 0.5, 1);
  --tt-max: 900;
  font-family: var(--font-headline);
  line-height: 1;
    cursor: pointer;
    font-size: 34px;
}

.nextclick-article .primary-headline {
  font-size: 32px;
  text-align: left;
  letter-spacing: 0.1px;
  margin-top: 20px;
  color: #000;
  line-height: 32px;
}

.night .nextclick-article .primary-headline {
  color: #FFF;
}

h1, h2, h3 {
  margin: 30px 0;
}

@keyframes primary-headline {
  0% {
    line-height: 1.1;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    font-weight: 700;
  }

  80% {
    font-weight: 550;
  }

  100% {
    line-height: 1.03;
    font-size: 84px;
    letter-spacing: 0.01em;
    font-weight: 500;
  }
}

.big {
  font-size: 1.35em;
  line-height: 1.2;
  font-weight: 400;
  color: #655;
  --tt-key: big;
  --tt-max: 800;
  --tt-ease: ease-in-out;
}
@keyframes big {
  0% {
    font-size: 1rem;
    line-height: 1.3;
    color: #433;
  }
  100% {
    font-size: 1.4rem;
    line-height: 1.35;
    color: #766;
  }
}

.big:after {
  content: "";
  display: block;
  height: 1rem;
  margin: 2rem 0 3rem;
  background: url("https://assets.codepen.io/467/plane.svg"),
    linear-gradient(hsl(0, 0%, 94%), hsl(0, 0%, 94%));
  background-repeat: no-repeat, repeat-x;
  background-size: contain, 2px 2px;
  background-position: center center;
}

.section-label {
  display: table;
  margin: 1rem auto;
  font-family: "Job Clarendon", var(--font-headline);
  letter-spacing: 0.03em;
  grid-column-end: span 3;
  font-weight: 700;
  --tt-max: 1200;
  --tt-key: section-label;
  --tt-ease: linear;
  margin-bottom: 40px;
}

@keyframes section-label {
  0% {
    font-size: 1rem;
    font-weight: 500;
  }
  100% {
    font-size: 2rem;
    font-weight: 700;
  }
}

/* Because our root styles scale to the viewport, relative units will inherit that flexibility. */

.label {
  font-family: var(--font-text);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 450;
  letter-spacing: 0.1em;
  color: var(--color);
  line-height: 1;
  font-stretch: 125%;
}

.byline::before {
content: "";
    width: 68rem;
    height: 2px;
    background: hsl(0deg 0% 0% / 8%);
    position: absolute;
    bottom: -19px;
    opacity: 0.3;
}

.byline {
    font-family: var(--font-text);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 350;
    letter-spacing: 0.1em;
    padding-top: 0.7rem;
    position: relative;
    margin: 1rem 0 0;
    line-height: 1;
    font-stretch: 100%;
}

.dateline {
font-family: var(--font-text);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    opacity: 0.67;
    padding-top: 0.7rem;
    position: relative;
    margin: 0 0 2rem;
    line-height: 1;
    font-stretch: 90%;
    margin-top: 26px;
}

figcaption,
.caption {
  font-family: var(--font-small);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0.3rem;
  padding-bottom: 0.4rem;
  margin-bottom: 0.3rem;
  font-style: italic;
  color: #555;
}


a {
  text-decoration: none;
}

.logo {
  font-size: 2.5rem;
  line-height: 1;
  color: var(--color);
  font-family: "Job Clarendon", var(--font-headline);
  text-transform: uppercase;
  font-weight: 450;
  text-decoration: none;
}


/* This technique doesn’t need to be limited to typogrphy. You can also interpolate any animatable element style. */

@media (min-width: 35em) {
  .float-left {
    float: left;
    margin-right: 1rem;
    width: 40%;
    min-width: 300px;
    --tt-key: float-left;
    --tt-max: 1300;
    --tt-ease: ease-out;
  }

  .float-right {
    float: right;
    margin-left: 1rem;
    width: 40%;
    min-width: 300px;
    --tt-key: float-right;
    --tt-max: 1300;
    --tt-ease: ease-out;
  }
}

@keyframes float-left {
  80% {
    margin-left: 0;
  }

  100% {
    margin-left: -8rem;
  }
}

@keyframes float-right {
  80% {
    margin-right: 0;
  }

  100% {
    margin-right: -8rem;
  }
}


/*
Sole Sans by CAST Foundry
license it here: http://solesans.c-a-s-t.com/
*/

@font-face {
  font-family: "Sole Sans";
  src: url("https://assets.codepen.io/467/SoleSansVF_W.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 60% 125%;
}

/*
Roslindale and Job Clarendon by DJR from the Font of the Month Club
license them here: https://djr.com/font-of-the-month-club
*/

@font-face {
  font-family: "Roslindale";
  src: url("https://assets.codepen.io/467/RoslindaleVariable-VF.woff2")
    format("woff2-variations");
  font-weight: 200 900;
}
@font-face {
  font-family: "Job Clarendon";
  src: url("https://assets.codepen.io/467/JobClarendonVariable-VF.woff2")
    format("woff2-variations");
  font-weight: 100 900;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a:is(:link, :visited) {
  color: var(--color);
}

.header {
/*              padding: 0 5vw 5vw 0;*/
  display: grid;
  grid-template-columns: 1.5fr 2rem 1fr;
  grid-template-rows: min-content auto min-content auto;
  position: relative;
}

.night .header {
  background: #141414;
}

.header:before {
  content: "";
  background-color: hsl(0, 0%, 94%);
  position: absolute;
  left: calc(50vw - calc(var(--max-width) / 2));
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: calc(50vw - (var(--max-width) / 2));
  right: 0;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.173);
  z-index: 9;
  border-bottom: 2px solid var(--color);
}
@supports (backdrop-filter: blur(1rem)) {
  nav {
    background-color: rgba(255, 255, 255, 0.735);
    backdrop-filter: blur(1rem);
  }
  .night nav {
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(1rem);
  }
}
@media (max-width: 900px) {
  body {
    margin-top: 3rem;
  }
  nav {
    left: 0;
  }
  nav .links {
    display: none;
  }
  .header:before {
    left: 1rem;
  }
}

.links {
  display: flex;
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;
  font-size: 1.2rem;
  font-stretch: 60%;
      flex-wrap: wrap;
}

p, code, ul, li, input, small, blockquote, h4, b {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

p {
  font-size: 22px;
}

li {
  font-size: 18px;
}

p code {

}

pre {
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
  padding: 15px;
  letter-spacing: 0.5px;
}

pre code.hljs {
      display: block;
    overflow-x: auto;
    padding: 0;
    font-family: monospace;
    font-size: 18px
}
 
.links li {
  padding: 0 0.5rem;
}

.header-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.header-group {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: #fff;
  padding: 1rem 2rem 0;
  margin-top: 4rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.173);
  max-width: 55rem;
}

@media (max-width: 50em) {
  .header-img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .header-group {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 0;
  }
}
@media (max-width: 20em) {
  .header-group {
    padding: 1rem 1rem 0;
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .header-group {
    background: rgba(255, 255, 255, 0.735);
    backdrop-filter: blur(1rem);
  }
  .night .header-group {
    background: rgba(0, 0, 0, 0.735);
    backdrop-filter: blur(1rem);
  }
}

.article {
  padding: 1rem;
  margin: auto;
  max-width: calc( var(--max-width) - 1rem);
}

figure {
  margin: 0;
  padding: 0;
}

.nextclicks {
  margin: 3rem auto 0;
  width: calc(100% - 4rem);
  max-width: 1200px;
}
.nextclicks img {
  height: calc(0.67px * var(--tt-bind));
  object-fit: cover;
  border-radius: 7px;
}
article + .nextclicks {
  margin-top: 4vh;
}
@media (min-width: 40em) {
  .nextclicks {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }
  .section-label:before,
  .section-label:after {
    content: "    ";
    width: 3em;
    height: 0.8em;
    display: inline-block;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 1px 1px;
    margin: 0 1em;
    opacity: 0.33;
    background-repeat: repeat-x;
    background-position: center center;
  }
}

.nextclick-article {
  display: block;
  text-align: center;
  border: 0;
}

.eyebrow {
margin: 0 0 -1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25em;
    font-size: 0.7em;
    background: #fff;
    padding: 5px 15px;
    display: table;
    color: var(--color);
    position: absolute;
}

footer {
  text-align: center;
  background-color: hsl(0, 0%, 94%);
  border-top: 2px solid var(--color);
  margin-top: 20vh;
  padding: 2rem 0 20vh;
}
footer .links {
  padding: 0;
  margin: 2rem auto;
  justify-content: center;
}
footer small {
  display: block;
  max-width: var(--max-width);
  font-size: 0.75rem;
  line-height: 1.25;
  margin: 0 auto;
  padding: 1em 2rem;
}

.primary-headline {
  position: relative;
  cursor: pointer;
}

.header-group .primary-headline {
  margin-bottom: 0;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-headline:hover:after {
    background: #ffffff77;
    backdrop-filter: blur(1rem)
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .night .primary-headline:hover:after {
    background: #00000077;
    backdrop-filter: blur(1rem)
  }
}

.tt-configuration,
.tt-configuration * {
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.tt-configuration {
  display: none;
  width: 380px;
  padding: 10px 0 10px 20px;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4px;
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 30px #00000055;
  animation: tt-configuration 0.2s ease-out 1;
}
.tt-configuration.active {
  display: block;
}
@keyframes tt-configuration {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-80%) translateX(10%);
  }
}
.tt-configuration-inner {
  display: flex;
}
.tt-configuration input {
  background: none;
  border-radius: none;
  border: 0 solid #00000033;
  border-bottom-width: 2px;
  transition: border-color 0.2s ease-in-out;
}
.tt-configuration input:focus {
  border-color: #348ceb;
  outline: none;
}
.tt-configuration h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 6px;
}
.tt-configuration h3 {
  margin: 12px 0 4px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  font-size: 9px;
  font-weight: 500;
  opacity: 0.75;
}
.tt-easing {
  width: 160px;
  height: 160px;
  stroke-width: 2;
  position: relative;
}
.tt-ease-handle {
  cursor: pointer;
}
.tt-close {
  border: none;
  padding: 0;
  background: none;
  outline: none;
  position: absolute;
  top: 12px;
  right: 20px;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.tt-close:hover {
  opacity: 0.8;
}
#tt-currentpx {
  font-size: 7px;
  font-family: var(--font-text);
  font-weight: 400;
  opacity: 0.5;
  text-align: center;
}

.links li {
  font-size: 16px;
}

.night body,
.night footer

{
  background: #000;
  color: #FFF;
/*  filter: invert(1);*/
}

.night .header-group {
/*  background: #212121;*/
}

.night img {
/*  filter: invert(1);*/
}

.night pre {
  filter: invert(1);
}

.nano-locked {
  margin-top: 30px !important;
}

@media (max-width: 600px) {
  .primary-headline {
    font-size: 32px !important;
  }
}