<!DOCTYPE html>
<html>
    <head>
        <title><%- article.title + ' - ' + title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="<%- favicon %>">
        <meta name="apple-mobile-web-app-title" content="<%- site_title %>">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../css/highlight.min.css">
        <style>
            :root { --color: <%- color || '#3498db' %>; }
        </style>
        <link rel="stylesheet" href="../css/blog.css?v=10">
        <meta property="og:title" content="<%- article.title %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://<%- domain %>" />
        <meta property="og:image" content="https://<%- domain %>/<%- article.image || '../img/card-img-one.png' %>" />
        <meta property="twitter:title" content="<%- title %>">
        <meta property="twitter:image" content="https://<%- domain %>/<%- article.image || '../img/card-img-one.png' %>">
        <% if (metrics) { %><script src="https://metrics.bar/js/script.js" id="metrics" async defer></script><% } %>
    </head>
    <body>
        <header>
            <div class="container">
                <div><a href="/" style="border: 0">&#8592; Back</a></div>
                <div>
                    <a href="/" style="border-bottom: 0;">
                        <b><%- title %></b>
                    </a>
                    <% if (verified) { %>
                    <img src="img/verified.png" alt="" style=" max-width: 20px; margin: 0; display: inline-block; vertical-align: text-top; margin-top: 1px; ">
                    <% } %>
                </div>
            </div>
        </header>
        <article>
            <h1 class="title"><%- article.title %></h1>
            <time>
                <%
                    function capitalizeFirstLetter(string) {
                      return string.charAt(0).toUpperCase() + string.slice(1);
                    }
                %>
                <% if (article.author) { %> <a href="<%- article.website ? ('https://' + article.website) : ('/' + article.author) %>" target="<%- article.website ? '_blank' : '_self' %>" style="border-bottom: 0"><span style=" color: var(--color); font-weight: bold "><%- article.author %></span></a> · <% } %>
                <%- article.date %>  
                <% if (false && article.tags) { %> · <span style=" font-size: 95%; font-weight: bold"><%- capitalizeFirstLetter(article.tags.split(', ')[0]) %></span> <% } %>
            </time>
            <div class="<%- article.price ? 'premium' : '' %>" data-id="<%- article.id %>">
                <% if (article.image !== false) { %>
                <%
                    var image = article.image
                    if (image && !image.includes('//')) image = '../../' + image
                %>
                <img class="hero-img" src="<%- image %>" alt="">
                <% } %>
                <%- article.html %>
                <% if (!article.single && articles.length > 1) { %> 
                <div style="margin-top: 40px;">
                    <h2>More Articles</h2>
                    <ul>
                        <% articles.filter(a => !a.hidden).slice(0, 5).map(article => { %>
                        <li style=" margin-bottom: 3px; opacity: 0.9; "><a href="<%- article.path ? '/' + article.path : '' %>/<%- article.slug %>.html"><%- article.title %></a></li>
                        <% }) %>
                    </ul>
                </div>
                <% } %> 
            </div>
        </article>
        <footer>
            <% if (footer) { %>
                <%- footer %>
            <% } else { %>
            <a href="../"><div class="logo"><%- title %></div></a>
            <% } %>
        </footer>
        <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches && !localStorage.getItem('lightMode')) {
            document.documentElement.className += 'dark-mode'
        }
        </script>
        <script src="../js/highlight.min.js"></script>
        <% if (article.goal) { %>
        <script src="https://goal.nano.to/latest.js"></script>
        <script>
        nano.goal({ element: '.goal' })
        </script>
        <% } %>
        <% if ((article.price || article.cost) && nano_address) { %>
        <script src="https://pay.nano.to/latest.js?v=7"></script>
        <script>
        NanoPay.wall({ 
            title: 'Read Story',
            button: 'Unlock Story',
            <% if (article.free) { %>
            free: false, // // optional, allow free access
            <% } %>
            element: '.premium',
            amount: '<%- article.price || article.cost %>', // Cost of article
            address: '<%- nano_address %>',
            success: () => {
                hljs.highlightAll();
            }
        })
        </script>
        <% } else { %>
        <script>
            hljs.highlightAll();
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        </script>
        <% } %>
    </body>
</html>
