
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title><%- site_title %></title>
        <meta name="apple-mobile-web-app-title" content="<%- site_title %>">
        <link rel="icon" type="image/png" href="<%- favicon %>">
        <meta property="og:title" content="<%- site_title %>">
        <meta property="og:image" content="<%- cover ? cover : '../img/cover.png' %>">
        <meta property="twitter:image" content="<%- cover ? cover : '../img/cover.png' %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../../css/blog.css?v=2">
        <% if (metrics) { %><script src="https://metrics.bar/js/script.js" id="metrics" async defer></script><% } %>
        <script>if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) document.documentElement.className += ' night'</script>
    </head>
    
    <body>
        <!-- partial:index.partial.html -->
        <div class="header typetura">
            <nav>
                <a href="/"><div class="logo"><%- title %></div></a>
                <ul class="links">
                  <li><a href="/tag/crypto">Crypto</a></li>
                  <li><a href="/tag/software">Software</a></li>
                  <li><a href="/tag/hardware">Hardware</a></li>
                  <li><a href="/tag/travel">Travel</a></li>
                  <li><a href="/tag/education">Education</a></li>
                </ul>
            </nav>
            <img class="header-img" src="https://assets.codepen.io/467/2020-08-26+-+09-30-18_00007+copy.jpg"
            alt=" " />
            <div class="header-group">
                <a class="nextclick-article typetura" style="text-align: left;" href="/<%- articles[0] ? articles[0].slug : 'index' %>.html">
                 <h3 class="label"><%- articles[0] && articles[0].tags ? articles[0].tags.split(', ')[0] : '' %></h3>

                 <h1 class="primary-headline typetura">
      <%- articles[0] ? articles[0].title : '' %>
    </h1>

                 <h3 class="byline"><%- articles[0] ?  articles[0].author : '' %></h3>

                <h4 class="dateline"><%- articles[0] ?  articles[0].fromNow : '' %> <% if (articles[0] && articles[0].price) { %> · <span style=" color: #3498db; ">Premium</span> <% } %></h4>
             </a>

            </div>
        </div>

            <br>
        <section class="nextclicks typetura">
            <!-- <h2 class="section-label">More Stories</h2> -->
            <% articles.map(article => { %>
            <a class="nextclick-article typetura" href="/<%- article.slug %>.html">
                <h4 class="eyebrow"> <%- article.tags ? article.tags.split(', ')[0] : '' %> </h4>
                <img
                  src="<%- article.image || 'https://assets.codepen.io/772926/card-img-one.png' %>"
                  alt="<%- article.title %>"
                />
                <h3 class="primary-headline typetura">
                  <%- article.title %>
                </h3>
            </a>
            <% }) %>
        </section>

        <footer>
            <a href="https://nano.to"><div class="logo"><%- title %></div></a>
            <ul class="links">
              <li><a href="/tag/crypto">Crypto</a></li>
              <li><a href="/tag/software">Software</a></li>
              <li><a href="/tag/hardware">Hardware</a></li>
              <li><a href="/tag/travel">Travel</a></li>
              <li><a href="/tag/education">Education</a></li>
            </ul>
 <small>Nano Name Service hosted on <a href="https://github.com/fwd/nano-blog" style="border-bottom: 1px solid;" target="_blank">Github</a>.
        </footer>
    
    </body>

</html>