
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title><%- article.title + ' - ' + title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="<%- favicon %>">
        <meta name="apple-mobile-web-app-title" content="<%- site_title %>">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../../css/highlight.min.css">
        <link rel="stylesheet" href="../css/blog.css?v=1.0.1">
        <meta property="og:title" content="<%- article.title + ' - ' + title %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://<%- domain %>" />
        <meta property="og:image" content="<%- article.image || '../img/card-img-one.png' %>" />
        <meta property="twitter:title" content="<%- article.title + ' - ' + title %>">
        <meta property="twitter:image" content="<%- article.image || cover || '../img/card-img-one.png' %>">
        <% if (metrics) { %><script src="https://metrics.bar/js/script.js" id="metrics" async defer></script><% } %>
        <script>if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) document.documentElement.className += ' night'</script>
    </head>
    
    <body>
        <!-- partial:index.partial.html -->
        <div class="header typetura">
            <nav>
                <a href="/"><div class="logo"><%- title %></div></a>
                <ul class="links">
                  <li><a href="/tag/crypto">Crypto</a></li>
                  <li><a href="/tag/software">Software</a></li>
                  <li><a href="/tag/hardware">Hardware</a></li>
                  <li><a href="/tag/travel">Travel</a></li>
                  <!-- <li><a href="/tag/chatgpt">ChatGPT</a></li> -->
                  <li><a href="/tag/education">Education</a></li>
                </ul>
            </nav>
            <img class="header-img" src="<%- article.image || 'https://assets.codepen.io/772926/card-img-one.png' %>"
            alt=" " />
            <div class="header-group headline">
                 <h3 class="label"><a href="/tags/<%- article.tags ? article.tags.split(', ')[0].toLowerCase() : '' %>"><%- article.tags ? article.tags.split(', ')[0] : '' %></a></h3>
                 <h1 class="primary-headline typetura">
      <%- article.title %>
    </h1>

                 <h3 class="byline"><%- article.author %></h3>

                 <h4 class="dateline"><%- article.fromNow %> <% if (article.price) { %> · <span style=" color: #3498db; ">Premium</span> <% } %></h4>

            </div>
        </div>
        <article class="<%- article.price ? 'premium' : '' %> article" >
            <p> <%- article.html %></p>
        </article>
        <section class="nextclicks typetura">
             <h2 class="section-label">Further Reading</h2>
            <% articles.map(article => { %>
            <a class="nextclick-article typetura" href="/<%- article.slug %>.html">
                <!-- <h3 class="label"><</h3> -->
                <h4 class="eyebrow"><%- article.tags ? article.tags.split(', ')[0] : '' %></h4>
                <img
                  src="<%- article.image || 'https://assets.codepen.io/772926/card-img-one.png' %>"
                  alt="<%- article.title %>"
                />
                <h3 class="primary-headline typetura">
                  <%- article.title %>
                </h3>
            </a>
            <% }) %>
    </section>

    <footer>
            <a href="https://nano.to"><div class="logo"><%- title %></div></a>
            <ul class="links">
              <li><a href="/tag/crypto">Crypto</a></li>
              <li><a href="/tag/software">Software</a></li>
              <li><a href="/tag/hardware">Hardware</a></li>
              <li><a href="/tag/travel">Travel</a></li>
              <li><a href="/tag/education">Education</a></li>
            </ul>
   <!-- <small>Nano Name Service hosted on <a href="https://github.com/fwd/nano-blog" style="border-bottom: 1px solid;" target="_blank">Github</a>.</small> -->
        </footer>
        <script src="../js/highlight.min.js"></script>
        <% if (article.goal) { %>
        <script src="../js/nano-wall.js"></script>
        <script>
        nano.goal({ 
            element: '.goal', // required, all with class .premium
            address: '<%- article.address ? article.address : nano_address %>', // required
            amount: '<%- article.goal %>', // required
        })
        </script>
        <% } %>
        <% if (article.price && nano_address) { %>
        <script src="../js/nano-wall.js"></script>
        <!-- <script src="https://wall.nano.to/latest.js"></script> -->
        <script>
        nano.paywall({ 
            title: 'Unlock',
            element: '.premium', // required, all with class .premium
            address: '<%- nano_address %>', // required
            amount: '<%- article.price %>', // required
            // debug: false, // optional
            <% if (article.free) { %>
            free: true, // // optional, allow free access
            <% } %>
            text: 'Read',
            button: 'Purchase', // optional
            success: (block) => {
                hljs.highlightAll();
            }
        })
        </script>
        <% } else { %>
        <script>hljs.highlightAll();</script>
        <% } %>
    </body>

</html>